<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="http://localhost/">
    <link rel="stylesheet" href="assets/css/css.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="post post-skeleton">
                <div class="row-8">
                    <div class="icon40 circle-shape skeleton"></div>
                    <div class="column-2" style="width: 100%">
                        <div class="bar skeleton"></div>
                        <div class="bar skeleton"></div>
                    </div>
                </div>
                <div class="column-8">
                    <div class="bar skeleton"></div>
                    <div class="box skeleton"></div>
                    <div class="row-8">
                        <div class="bar skeleton"></div>
                        <div class="bar skeleton"></div>
                        <div class="bar skeleton"></div>
                    </div>
                    <div class="row-8">
                        <div class="bar skeleton"></div>
                        <div class="bar skeleton"></div>
                        <div class="bar skeleton"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>