* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimary: #FFF;
    --colorOnPrimary: #333;
    --colorSecondary: #ececec;
    --colorOnSecondary: #333;
    --colorAccent: #5aafff;
    --colorOnAccent: #FFF;
    --colorWarning: #e0aa44;
    --colorOnWarning: #FFF;
    --colorError: #f86d6d;
    --colorOnError: #FFF;
    --colorSuccess: #45c565;
    --colorOnSuccess: #FFF;
    --opacity_0_2: rgba(0, 0, 0, .2);
    --opacity_0_4: rgba(0, 0, 0, .4);
    --opacity_0_6: rgba(0, 0, 0, .6);
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button,
a,
input {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--colorOnPrimary);
    text-decoration: none;
}

/* Action */
.action {
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.action:hover {
    opacity: .5;
}

.action:active {
    transform: scale(0.90);
}

.word-action {
    cursor: pointer;
}

.word-action:hover {
    color: var(--colorAccent);
    text-decoration: underline;
}

/* Typography */
.title-extra-large {
    font-weight: bold;
    font-size: 20px;
}

.title-large {
    font-weight: bold;
    font-size: 18px;
}

.title-medium {
    font-weight: bold;
    font-size: 16px;
}

.title-small {
    font-weight: bold;
    font-size: 14px;
}

.title-extra-small {
    font-weight: bold;
    font-size: 12px;
}

.body-extra-large {
    font-weight: normal;
    font-size: 20px;
}

.body-large {
    font-weight: normal;
    font-size: 18px;
}

.body-medium {
    font-weight: normal;
    font-size: 16px;
}

.body-small {
    font-weight: normal;
    font-size: 14px;
}

.body-extra-small {
    font-weight: normal;
    font-size: 12px;
}

/* Icon Size */
.icon24 {
    width: 24px;
    height: 24px;
}

.icon40 {
    width: 40px;
    height: 40px;
}

.icon120 {
    width: 120px;
    height: 120px;
}

.icon240 {
    width: 240px;
    height: 240px;
}

/* Row */
.row-4 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.row-8 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.row-16 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.row-24 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Column */
.column-zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.column-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.column-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.column-16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.column-24 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

/* Shapes */
.circle-shape {
    border-radius: 50%;
}


/* Container */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

main {
    flex: 1;
}

/* Header */
header {
    position: sticky;
    top: 0;
    border-bottom: 1.5px solid var(--colorSecondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
    background: var(--colorPrimary);
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-action a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--colorSecondary);
}

/* Scroll bar */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Post */
.post-list {
    gap: 16px;
    position: relative;
}

.post {
    border: 1.5px solid var(--colorSecondary);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--colorOnSecondary);
}

.post .post-interacts {
    justify-content: end;
}

.post .post-title {
    word-break: break-all;
}

/* Sort */
.sort-container {
    padding: 16px 0;
    font-size: 18px;
}

.sort-container a {
    padding: 8px 0;
    color: var(--opacity_0_2);
    font-weight: bold;

}

.active {
    color: var(--colorOnSecondary) !important;
}



/* Footer */
footer {
    border-top: 1.5px solid var(--colorSecondary);
    padding: 8px 0;
    margin-top: auto;
}

/* 404 */
._404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

._404 h1 {
    font-size: 120px;
}

._404 h3 {
    text-align: center;
}

._404 a {
    margin: 16px 0;
    padding: 8px;
    border-radius: 8px;
    background: var(--colorSecondary);
}

/* Error */
.error {
    color: var(--colorError);
    padding: 8px 0;
    font-weight: bold;

}

/* Success */
.success {
    color: var(--colorSuccess);
    padding: 8px 0;
    font-weight: bold;
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 16px 0;
}

.divider hr {
    flex-grow: 1;
    border: 0;
    border-top: 1px solid var(--opacity_0_2);
    margin: 0 10px;
}

.divider p {
    margin: 0;
    font-weight: normal;
    color: var(--colorOnSecondary);
}

/* Modals */
.modal {
    z-index: 1000;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: none;
    background: var(--opacity_0_2);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: flex-end;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 600px;
    background-color: var(--colorPrimary);
    padding: 20px;
    border-radius: 16px;
    animation: slideUp 0.3s ease-out;
    margin: 8px;
}

.modal-content button {
    border: none;
    background: var(--colorAccent);
    padding: 8px 16px;
    color: var(--colorOnAccent);
    border-radius: 8px;
}

.modal-content .row_24 button.yes {
    background: var(--colorError);
}

#modalMenu .modal-content a:last-child {
    color: var(--colorError);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Skeleton */
.skeleton {
    background: linear-gradient(120deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}


.post-skeleton .row-8 .column-2 {
    flex: 1;
}

.post-skeleton .column-8 .bar {
    width: 70%;
}

.post-skeleton .column-8 .row-8 .bar {
    width: 15%;
}

.post-skeleton .column-8 .row-8:last-child {
    justify-content: end;
}

.bar {
    width: 100%;
    height: 16px;
    border-radius: 8px;
}

.box {
    width: 100%;
    height: 120px;
    border-radius: 8px;
}

.post-skeleton .column-2 .bar:first-child {
    width: 50%;
}

.post-skeleton .column-2 .bar:last-child {
    width: 20%;
}


/* Loader */
