.post-detail-container {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid var(--colorSecondary);
}

.interacts-container .btn-like {
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 8px;
    background: var(--colorSecondary);
}

.write-comment {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.btn-comment {
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--colorOnAccent);
    background: var(--colorAccent);
    border: none;
}

.btn-cancel {
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--colorOnPrimary);
    background: var(--colorPrimary);
    border: none;
}

.btn-comment:disabled, .btn-cancel:disabled {
    opacity: .5;
}

/* Comment */
.comment {
    padding: 16px;
    border-radius: 8px;
    border: 2px dashed var(--colorSecondary);
}

.comment .action-list {
    display: flex;
    width: 100%;
    justify-content: end;
}
